* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

/* Tool Bar */
nav {
    background-color: #f7f7f7;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    
}